**/node_modules/
**/dist/

.env
clients/.env.local
clients/.env.development
clients/.env.production
server/.env

clients/.next/

.DS_Store
Thumbs.db

.vscode/

server/shared-local-instance.db
server/dynamodb-local-metadata.json
shared-local-instance.db